/* styles.css*/
*{
    margin: 0px;
    background-color: ivory;
}
div{
    color: white;
    background-color: black;
}

p{
    color: red;
}
ul{
    color: red;
}
.main-h1{
    background-color: aquamarine;
    display: block;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}